/* Add Option Error */
.add-option-error {
    color: var(--off-white);
    font-style: italic;
    margin: var(--m-size) 0 0 0;
    padding: 0 var(--m-size);
}

/* Add Option */
.add-option {
    display: flex;
    flex-direction: row;
    padding: var(--m-size);
}

.add-option__input {
    background: var(--dark-blue);
    border: none;
    border-bottom: .3rem solid purple;
    color: var(--off-white);
    flex-grow: 1;
    margin-right: var(--s-size);
    padding: var(--s-size);
}

@media (min-width: var(--desktop-breakpoint)) {
    .add-option {
        flex-direction: row;
    }

    .add-option__input {
        margin: 0 var(--s-size) 0 0;
    }
}